apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: ctrlline-serial-sa
      containers:
        - name: backend
          image: 980921712223.dkr.ecr.ap-northeast-2.amazonaws.com/ctrlline-backend:main-ea854ee7a5ccea3aef53a7fbca14a68fa36d6c39
          ports:
            - name: http
              containerPort: 8080
          
          args:
            - "--spring.profiles.active=prod"
          
          volumeMounts:
            - name: spring-prod-config-volume
              mountPath: /config/application-prod.yml
              subPath: application-prod.yml
          
          envFrom:
            - secretRef:
                name: spring-secret
            - configMapRef:
                name: spring-config
            - configMapRef:
                name: spring-env-config

      volumes:
        - name: spring-prod-config-volume
          configMap:
            name: spring-prod-config
